{% include 'header.html.twig' %}

{% block body %}

{#    <div class="block justify-between max-w-md rounded ml-auto">#}
{#        {% include 'episodes/episodes_dropdown.html.twig' %}#}
{#    </div>#}

{#    {% include 'episodes/episode_details.html.twig' %}#}

{% endblock %}

{% include 'footer.html.twig' %}
