<div class="container w-1/4">
    <div id="dimension-details"></div>
</div>

    <script>
        function openCharacterPage(characterId) {
            const baseUrl = window.location.origin;
            window.location.href = `${baseUrl}/character/${characterId}`;
        }

        function showDimensionDetails() {
            const locationUrl = document.getElementById("dimension").value;

            fetch(locationUrl)
                .then(response => response.json())
                .then(data => {
                    let dimensionDetailsHTML = `
                        <h2>Dimension: ${data.name}</h2>
                        <p>Characters:</p>
                        <div class="overflow-x-auto p-2 mb-4 max-h-96 grid grid-cols-3 gap-4">`;

                    const characterPromises = data.residents.map(characterUrl =>
                        fetch(characterUrl)
                            .then(response => response.json())
                            .then(characterData => {
                                dimensionDetailsHTML += `
                                    <div class="items-center justify-center" onclick="openCharacterPage('${characterData.id}')">
                                        <img src="${characterData.image}" class="max-w-full h-auto rounded-lg" alt="${characterData.name}">
                                        <p class="text-center">${characterData.name}</p>
                                    </div>`;
                            })
                    );

                    Promise.all(characterPromises)
                        .then(() => {
                            dimensionDetailsHTML += `</div>`;
                            document.getElementById("dimension-details").innerHTML = dimensionDetailsHTML;
                        })
                        .catch(error => console.error('Error fetching character details:', error));
                })
                .catch(error => console.error('Error fetching dimension details:', error));
        }
    </script>