{% include 'header.html.twig' %}

{% block body %}

    <div class="block justify-between max-w-md rounded ml-auto">
        {% include 'dimensions/dimension_dropdown.html.twig' %}
    </div>

    {% include 'dimensions/dimension_details.html.twig' %}

{% endblock %}

{% include 'footer.html.twig' %}
