<div class="container">
    <h1>Rick and Morty Dimensions</h1>
    <label for="dimension">Select a dimension:</label>
    <select name="dimension" id="dimension" onchange="showDimensionDetails()">
        {% for dimension in dimensions %}
            <option value="{{ dimension.name }}">{{ dimension.name }}</option>
        {% endfor %}
    </select>
</div>