{% include 'header.html.twig' %}

{% block body %}

    <div class="container text-center max-w-sm">
        <h5>Interdimensional Adventures Await!</h5>
        <a href="/episodes" class="btn btn-primary">Explore Episodes</a>
    </div>

    <div class="container text-center max-w-sm">
        <h5>Discover Multiverse Marvels!</h5>
        <a href="/dimensions" class="btn btn-primary">Visit Dimensions</a>
    </div>

    <div class="container text-center max-w-sm">
        <h5>Explore Galactic Hotspots!</h5>
        <a href="/locations" class="btn btn-primary">Navigate Locations</a>
    </div>

{% endblock %}
</body>
</html>